@{
    ViewBag.Title = "About";
}
About

<style>
    #About {
        background-color: forestgreen;
        color: forestgreen;
    }
</style>
<style>
    body {
        background-color: black;
    }
</style>

<h2 style="text-align: center;color:white">@ViewBag.Title</h2>


<p style="color:white">Mehluli started Heroville Comics in 2010 and even though many people didn't believe the little shop would last,it still stands today,19 years later,and is the biggest Comic Shop in South Africa.When Heroville Comics first opened its doors it was filled with a lot of empty space,but today the shop offers dozens of different comic book titles,graphic novels and a whole lot more.'</p>

<div style="float: right">


    <img src="~/Content/picture1.png" width="300" height="300" />
</div>

<div style="float:left">

    <img src="~/Content/picture2.jpg" width="300" height="300" />
</div>

<div style="float:left">


    <img src="~/Content/picture3.jpg" width="540" height="300" />
</div>
