
@{
    ViewBag.Title = "favorites";
}

<h2>favorites</h2>
<style>
    #Favorites {
        background-color: forestgreen;
        color: forestgreen;
    }
</style>
<style>
    body {
        background-color: black;
    }
</style>
<h2 style="text-align: center; color: white;font-family:'Copperplate Gothic'"><b>Favorites</b></h2>



<br />
<div>
    <div style="float: right">
        
        <img src="~/Content/picture5.jpg"  width="200" height="250" />
    </div>
    <br />
    <div>
        <h3 style="color: white; text-decoration-line: underline; font-family: Castellar"><b>Batman: The Dark Knight Returns</b></h3>
        <br />
        <p style="color: white">The Dark Knight Returns (alternatively titled Batman: The Dark Knight Returns) is a 1986 four-issue comic book miniseries starring Batman,</p>
        <p style="color: white">written by Frank Miller, illustrated by Miller, and Klaus Janson, with color by Lynn Varley, and published by DC Comics. It tells an alternative</p>
        <p style="color: white">story of Bruce Wayne, who at 55 years old returns from retirement to fight crime and faces opposition from the Gotham City police force and the</p>
        <p style="color: white">United States government. The story also features the return of classic foes such as Two-Face and the Joker, and culminates with a</p>
        <p style="color: white">confrontation against Superman, who is now a pawn of the government.</p>

        <br />
        <form action="https://www.pdfdrive.com/batman-the-dark-knight-returns-e184507954.html">
            <button style="background-color: deepskyblue; border-color: deepskyblue; color: white; font-family: Copperplate Gothic">
                Download Batman: The Dark Knight Returns
            </button>
        </form>
    </div>
</div>

<br />
<div>
    <div style="float: right">

        
        <img src="~/Content/picture6.jpg"  width="200" height="250" />
    </div>
    <br />
    <div>
        <h3 style="color: white; text-decoration-line: underline; font-family: Castellar"><b>DC Marvel Comics - Batman & Spiderman</b></h3>
        <br />
        <p style="color: white">
            In the beginning of the story, it shows the respective heroes awakening from their nightmares about the death of their loved ones (Spider-Man's sees his uncle Ben Parker murdered and when the killer reveals himself to be the Joker, Batman witnesses the death of his parents at the hands of Carnage) and the reflection on their roles as super-heroes.
        </p>

        <br />
        <form action="https://www.pdfdrive.com/dc-marvel-comics-batman-spiderman-e156711129.html">
            <button style="background-color: deepskyblue; border-color: deepskyblue; color: white; font-family: Copperplate Gothic">
                Download DC Marvel Comics - Batman & Spiderman
            </button>
        </form>
    </div>
</div>

<br />
<div>
    <div style="float: right">

        
        <img src="~/Content/picture7.jpg"  width="200" height="250" />
    </div>
    <br />
    <div>
        <h3 style="color: white; text-decoration-line: underline; font-family: Castellar"><b>marvel's captain america</b></h3>
        <br />
        <p style="color: white">In the present day, scientists in the Arctic uncover an old, frozen aircraft.</p>
        <p style="color: white">In March 1942, Nazi lieutenant general Johann Schmidt and his men steal a mysterious relic called the Tesseract, which possesses untold godly powers, from the town of Tønsberg in German-occupied Norway.</p>
        <p style="color: white">In New York City, Steve Rogers is rejected for World War II military recruitment due to his various health and physical problems.</p>
        <p style="color: white">While attending an exhibition of future technologies with his best friend, Sgt. James "Bucky" Barnes, Rogers again attempts to enlist.</p>
        <p style="color: white">Overhearing Rogers' conversation with Barnes about representing his country in the war, Dr. Abraham Erskine allows Rogers to enlist.</p>
        <p style="color: white">He is recruited into the Strategic Scientific Reserve as part of a "super-soldier" experiment under Erskine, Colonel Chester Phillips, and British agent Peggy Carter.</p>
        <p style="color: white">Phillips is unconvinced by Erskine's claims that Rogers is the right person for the procedure but relents after seeing Rogers jump on a grenade to save his comrades, unaware that it is a test. The night before the treatment, Erskine reveals to Rogers that Schmidt underwent the procedure prematurely and suffered permanent side-effects.</p>
        <p style="color: white">Schmidt and Dr. Arnim Zola harness the energies of the Tesseract, intending to use the power to fuel Zola's inventions, mounting an offensive that will change the world.</p>
        <p style="color: white">Schmidt discovers Erskine's location and sends assassin Heinz Kruger to kill him. Erskine subjects Rogers to the super-soldier treatment, injecting him with a special serum and dosing him with "vita-rays".</p>
        <p style="color: white">After Rogers emerges from the experiment taller and more muscular, an undercover Kruger kills Erskine and flees with a vial of the serum. Rogers pursues and captures Kruger,</p>
        <p style="color: white">but the assassin avoids interrogation by committing suicide with a cyanide capsule. With Erskine dead and his super-soldier formula lost, U.S.</p>
        <p style="color: white">Senator Brandt has Rogers tour the nation in a colorful costume as "Captain America" to promote war bonds while scientists study him and attempt to reverse-engineer the formula.</p>

        <br />
        <form action="https://www.pdfdrive.com/marvels-captain-america-e42637328.html">
            <button style="background-color: deepskyblue; border-color: deepskyblue; color: white; font-family: Copperplate Gothic">
                Download marvel's captain america
            </button>
        </form>
    </div>
</div>

<br />
<div>
    <div style="float: right">

        
        <img src="~/Content/picture8.jpg"  width="200" height="250" />
    </div>
    <br />
    <div>
        <h3 style="color: white; text-decoration-line: underline; font-family: Castellar"><b>marvel's captain america: civil war</b></h3>
        <br />
        <p style="color: white">In 1991, Hydra sends the brainwashed Bucky Barnes to kill a motorist and steal a case full of super soldier serum from his car.</p>
        <p style="color: white">Approximately one year after Ultron's defeat at the hands of the Avengers, Steve Rogers, Natasha Romanoff, Sam Wilson, and Wanda Maximoff stop </p>
        <p style="color: white">Brock Rumlow  There from stealing a biological weapon from a lab in Lagos, Nigeria. Wanda attempts to levitate away Rumlow as he detonates a suicide bomb, but the explosion destroys a building, killing several Wakandan relief workers. </p>
        <p style="color: white"> The international community responds with alarm and distrust of the Avengers.</p>
        <p style="color: white">At the team's headquarters, Secretary of State Thaddeus Ross informs the Avengers that the United Nations is preparing to pass the Sokovia Accords, which will establish an international governing body to oversee and control the Avengers. </p>
        <p style="color: white">The team is divided over the accords: Tony Stark supports oversight because he feels guilty for creating Ultron, leading to the later destruction in Sokovia, while Rogers is distrustful of governmental agendas and prefers the Avengers to remain free to act on their own. </p>


        <br />
        <form action="https://www.pdfdrive.com/marvels-captain-america-civil-war-e41177449.html">
            <button style="background-color: deepskyblue; border-color: deepskyblue; color: white; font-family: Copperplate Gothic">
                Download marvel's captain america: civil war
            </button>
        </form>
    </div>
</div>


